@model IEnumerable<JobToday.Models.Tag>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TagName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TagName)
            </td>
            <td>
                @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.TagId">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.TagId">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.TagId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
