@model JobToday.Models.JobPosting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobPosting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobPostName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobPostName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobPostStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobPostStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobPostDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobPostDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tag.TagName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JobPostingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
